.banner{
  text-align:center;
  margin-bottom: 1rem;
}

.about-page{
  max-width:900px;
  margin:auto;
  padding:40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-page h1{
  text-align:center;
  background-color: #0d9488;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom:30px;
  font-size: 2rem;
}
.list{
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2,1fr); /* موبايل: 2 كارد */
  gap: 10px;
}

.list li{
  background: var(--color-bg-card, var(--color-white));
  padding: 10px;
  border-radius:10px;
  box-shadow:0 2px 6px #00000014;
  transition:0.2s;
  font-size:15px;
  cursor:pointer;
  border: #0d948990 1px solid;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.list li:hover{
  transform: translateY(-4px);
  box-shadow: 0 12px 28px #0d948833;
  color: var(--color-teal-dark);
}



.list a:hover{
  text-decoration:underline;
}

.about-page h2{
  margin-top:35px;
  background-color: #0d9488;
  border-radius: 10px;
  padding: 10px;
  border-right:7px solid #e7770e;
  padding-right:10px;
}

.about-page p{
  font-size:17px;
  line-height:1.9;
  color:var(--color-text);
  margin:14px 0;
  max-width:750px;
  
}

.about-page ul{
  padding-right:20px;
}

.about-page li{
  margin:10px 0;
}

.about-page strong{
  color:#e7770e;
}

.shareSite{
  margin: auto;
  display: flex;
  padding: 10px 20px;
  background: var(--color-bg-card);
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  color: var(--color-text);
  box-shadow:0 2px 6px #00000014;
  border-right:7px solid #0d9488;
  border-left:7px solid #0d9488;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.shareSite:hover{
  transform: scale(1.1);
  border: #0d9488 2px solid;
  box-shadow:0 2px 6px #0d9488;
}
/* موبايل */

@media(max-width:600px){

.about-page h1{
  font-size:26px;
}

.about-page p{
  font-size:16px;
}

}
.completed-btn {
  margin: 5px 5px 10px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color: #d4edda;
  color: #155724;
  cursor: pointer;
}
@media (min-width:768px){
  .list{
    grid-template-columns: repeat(3,1fr);
  }
}

/* لاب توب */
@media (min-width:1024px){
  .list{
    grid-template-columns: repeat(4,1fr);
  }

}
