* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page-header h1 {
  margin: 0;
  font-size: 2.5rem;
}
.section-azkar-timer{
  place-content: center;
  text-align: center;
  
 h1 {
  margin-top: 30px;
  color: #277970;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}


#message {
  margin-top: 20px;
  font-size: 20px;
  color: #277970;
}

}
#locationBtn{
  display: flex;
  background: #2db4a9;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin: auto;
  
}
#locationBtn:hover{
  background: #d8b163;
  transform: scale(1.1);
}

.azkar-content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Accordion */
.accordion .accordion-item {
  margin-bottom: 1rem;
  border: 1px solid #e0d7c6;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-btn {
  width: 100%;
  text-align: right;
  padding: 1rem;
  background: #f4e6d8;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.accordion-btn:hover {
  background: #e9d1a5;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #fff7e6;
  padding: 0 1rem;
}

.accordion-content p {
  margin: 1rem 0;
}

/* أدعية */
.section-azkar .dua-list {
  list-style: none;
  padding: 0;
}
.dua-list span{
    text-align: justify;
    padding: 10px;
    
}
.section-azkar .dua-list li {
  color: #07524b;
  font-weight: 500;
  background: #fff3e0;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.done-btn {
  background: #e7770e;
  color: #fff;
  border: none;
  padding: 1rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.done-btn:hover {
  background: #d96f0c;
}

/* جدول الصلاة */

h2, .label-accordion{
    place-self: right;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #c19b77;
    padding: 10px;
    padding-right: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: default;
}
h2:hover, .label-accordion:hover{
    background-color: #2db4a9;
}

.section-azkar p{
    font-size: 0.9rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
.done-btn {
  background: #e7770e;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.done-btn:hover {
  background: #d96f0c;
}

#showHiddenBtn, #showHiddenBtnaz, #showHiddenBtnazz, #showHiddenBtnazzz {
    display: flex;
    background: #2db4a9;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    place-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
#showHiddenBtn:hover{
    background: #d8b163;
    transform: scale(1.1);
}
.hidden-azkar {
  display: none !important;
}
.copy-btn {
  background: #e7770e;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.copy-btn:hover {
  background: #d96f0c;
}

.banner{
  text-align:center;
  margin-bottom: 1rem;
}

.banner img{
  
  height: auto;
  border-radius: 10px;
}