*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.tasbeeh-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#dhikrSelect {
  width: 50%;
  text-align: center;
  background-color: azure;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
}
#dhikrSelect option[value] {
  font-size: 1rem;
  color: #022a43;
}

#counter {
  font-size: 48px;
  font-weight: bold;
}

#tasbeehBtn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  position: relative;
  margin-bottom: 1rem;
  font-size: 28px;
  cursor: pointer;
  transition: 0.1s;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.3s ease;
}

#tasbeehBtn:active,
#tasbeehBtn:hover {
  transform: scale(0.95);
  border: 2px solid #e7770e;

  box-shadow:
    0 0 0 6px rgba(231, 119, 14, 0.25),
    0 0 25px rgba(231, 119, 14, 0.5);
}

#tasbeehBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #e7770e;
   box-shadow:
    0 0 0 6px rgba(231, 119, 14, 0.25),
    0 0 25px rgba(231, 119, 14, 0.5);
  border-radius: 50%;
  animation: glowPulse 2s infinite alternate;
}
@keyframes glowPulse {
  0% { filter: brightness(0.8); }
  50% { filter: brightness(1.2); }
  100% { filter: brightness(1.5); }
}



#resetBtn {
  width: 30%;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #e7770e;
  color: azure;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.3s ease;
}
#resetBtn:hover {
  background-color: #a85b1d;
  transform: scale(0.95);

  box-shadow: 0 0 10px #023e58e5;
}
